<!-- 
<div class="container section">
	<div class="row">
		<div class="col-sm-12" id="afterHeader">
			<h2>Nuevo en Luciernaga</h2>

			<div class="slick-carousel multiple-items" id="newIn">
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								
								<div style="padding-top: 15px;">
									<span class="date">Ficcion</span>

									<span class="date"><strong>Loma verde</strong> </span>											
									<span>
										<i class="material-icons expand-more">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							<img src="assets/images/loma-verde.jpg" />
						</a>
					</div>

					<h4 class="no-underline white-color">Loma verde</h4> 

				</div>

				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								
								<a href="single-movie.html" class="read-more">Leer mas</a>
								<span class="date">Released: 7 Mar, 2017</span>
							</div>
						</aside>
						<a href="#">
							<img src="assets/images/compromiso-vida.jpg" />
						</a>
					</div>
					<span class="title genrecolor"></span>
					<h4 class="no-underline white-color">Compromiso con la VIHda</h4> 
				</div>

				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								
								<a href="single-movie.html" class="read-more">Leer mas</a>
								<span class="date">Released: 7 Mar, 2017</span>
							</div>
						</aside>
						<a href="#">
							<img src="images/1r.jpg" />
						</a>
					</div>
					<span class="title genrecolor"></span>
					<h4 class="no-underline white-color">Los hijos del río</h4>							</div>
					<div class="movie-slide">
						<div class="movie-poster">
							<aside>
								<div>
									
									<a href="single-movie.html" class="read-more">La fuerza joven...</a>
									<span class="date">Released: 7 Mar, 2017</span>
								</div>
							</aside>
							<a href="#">
								<img src="assets/images/joven-fuerza.jpg" />
							</a>
						</div>
						<span class="title genrecolor"></span>
						<h4 class="no-underline white-color">La fuerza joven</h4>

					</div>
					<div class="movie-slide">
						<div class="movie-poster">
							<aside>
								<div>
									
									<a href="single-movie.html" class="read-more">read more</a>
									<span class="date">Released: 7 Mar, 2017</span>
								</div>
							</aside>
							<a href="#">
								<img src="http://via.placeholder.com/265x340" alt="Movie title" />
							</a>
						</div>
						<h4 class="no-underline"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
 -->



