<!-- <img src="https://via.placeholder.com/1010x400" alt="" width="100%"> -->

<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">

	<a href="#afterHeader" class="anchor">
		<img src="assets/images/scroll-arrow.svg" alt="Scroll down" class="scroll" />
	</a>

	<!-- Indicators -->
	<div class="container">	
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">

		<div class="item active" style="background-image: url(https://via.placeholder.com/1140x665)">
			<!-- Content -->
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">

						<h1>Alerta global</h1>
						<div class="buttons top_padd_30">

							<a class="venobox btn btn-ghost">

								<span>Medio ambiente</span>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item" style="background-image: url(http://via.placeholder.com/1140x665)">
			<!-- Content -->
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9">
						<span class="title">Action, Adventure, Fantasy</span>
						<h1>End of the World: Part II</h1>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum.</p>
						<div class="buttons">
							<span class="certificate">
								15
							</span>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

