{% extends "base.html" %}

{% block content %}
<div id="content_hero" style="background-image: url(/static/img/newsbanner.jpg)">
				
	<!-- Content -->
	<div class="container">
		<div class="row blurb scrollme animateme " data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
			<div class="col-md-9">
				<span class="title"></span>
				<p class="banner_det_name bann_name">Biblioteca</p>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Inicio</a></li>
						
						<li class="breadcrumb-item active white-color" aria-current="page">Biblioteca</li>
					</ol>

			</div>
		</div>
	</div>

</div>

<div class="container section">
	<div class="row">
		<div class="col-sm-8 ">
			<ul>
			{% for doc in b_list %}
			<div class="col-md-6 customcard bottom_padd_30">
				<li class="">{{doc}}</li>
				<div>
					<i class="material-icons">
						cloud_download
					</i>
					<a target="_blank" href="/media/{{doc.archivo}}">Descargar</a>
				</div>
			</div>

			{% endfor %}
			</ul>		

		</div>


		<aside class="col-sm-3 col-sm-push-1 sidebar">
			<div class="widget">
				<form>
					<input type="text" placeholder="Buscar..." class="search" />
					<i class="material-icons">search</i>
				</form>
			</div>
			<div class="widget">
				<h3>Temas</h3>
				<ul>

				</ul>
			</div>

			<div class="widget">

			</div>
		</aside>
	</div>
</div>
{% endblock content %}