{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<!-- Hero -->
<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
	
	

	<div class="container">	
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>
	
	
	<div class="carousel-inner">

		<div class="item active" style="background-image: url(images/banners/index-banner.jpg)">
			<!-- Content -->
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">
						
						<h3 class="no-underline white-color bann_name">Mujeres de Ometepe validan la estrategia de comunicación para sensibilizar sobre violencia de género basada en la telenovela Loma Verde</h3>
						<div class="buttons top_padd_20">
							
							<a class="venobox btn btn-ghost">
								
								<span>Medio ambiente</span>
							</a>
							<a class="venobox btn btn-default">
								<i class="material-icons">play_arrow</i>
								<span>Reproducir</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item" style="background-image: url(http://via.placeholder.com/1140x665)">
			<!-- Content -->
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9">
						<span class="title">Action, Adventure, Fantasy</span>
						<h1>End of the World: Part II</h1>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum.</p>
						<div class="buttons">
							<span class="certificate">
								15
							</span>
							<a href="#" class="venobox btn btn-default">
								<i class="material-icons">play_arrow</i>
								<span>Play trailer</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item" style="background-image: url(http://via.placeholder.com/1140x665)">
			<!-- Content -->
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9">
						<span class="title">Action, Adventure, Fantasy</span>
						<h1>End of the World: Part II</h1>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum.</p>
						<div class="buttons">
							<span class="certificate">
								PG
							</span>
							<a href="#" class="venobox btn btn-default">
								<i class="material-icons">play_arrow</i>
								<span>Play trailer</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 	Breaking news	-->
<div class="bg-bnews" style="margin-top: 20px; background-color: #2b2b2b; border-radius: 15px;">
	<div class="row bnews-padding">
		<div>
			<span class="badge badge-danger bnews-title">Última hora:</span>
			<div class="bnews-slider nobottommargin">
				<div class="slide flex-active-slide" style="width: 970px; margin-right: 0px; float: left; display: block;">

					<marquee scrollamount='7'>
						{% for news in highlight_news %}
						<div class="d-inline-block rigt_mar_200 white-color">
							<a class="white-color">{{news.pais}}: {{news.titulo}}</a>
						</div>
						{% endfor %}					
					</marquee>
				</div>
			</div>

			
		</div>
		
	</div>
</div>

<!-- 	Nuevo en	-->
<div class="container section">
	<div class="row">
		<div class="col-sm-12" id="afterHeader">
			<h2>Nuevo en Luciernaga</h2>

			<div class="slick-carousel" id="newIn">
				{% for video in latest_video %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date"><strong>{{video.nombre}}</strong> </span>
									<span class="date">
										{% for cat in video.categoria.all|slice:"3" %}
										<i class="material-icons" style="
										font-size: 8px;
										">
											fiber_manual_record
										</i>{{cat}}
										{% endfor %}										
									</span>					
									<span>
										<i class="material-icons expand-more">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail video.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<h4 class="no-underline white-color"><a href="white-color">{{video.nombre}}</a></h4> 
				</div>
					
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<!--  Series	-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Series</h2>
			<div class="slick-carousel" id="Series">
				{% for serie in series_list %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date"><strong>{{serie.nombre}}</strong> </span>
									<span class="date">
										{% for cat in serie.categoria.all|slice:"3" %}
										<i class="material-icons" style="
										font-size: 8px;
										">
											fiber_manual_record
										</i>{{cat}}
										{% endfor %}										
									</span>					
									<p id="expand-action" onclick="showmore({{serie.id}})">
										<i class="material-icons expand-more">
											expand_more
										</i>
									</p>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail serie.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<span class="title genrecolor"></span>
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{serie.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{serie.id}}">{{serie}}</p>
					</h4> 
				</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>


<!-- peliculas -->
<div class="container section ">
	<div class="row">
		<div class="col-sm-12">
			<h2>Peliculas</h2>
			<div class="slick-carousel" id="Movies">
				{% for peli in peli_list %}
				
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">{{peli.nombre}}</span>
									<span class="date">
										{% for cat in peli.categoria.all|slice:"3" %}
											<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
										{% endfor%}
									</span>

									<span>
										<i class="material-icons" onclick="showmore({{peli.id}})">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail peli.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!-- <span class="title genrecolor"></span>-->
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{peli.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{peli.id}}">{{peli}}</p>
					</h4> 
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>

<!-- Documentales-->
<div class="container section">
	<div class="row">
		<div class="col-sm-12">
			<h2>Documentales</h2>
			<div class="slick-carousel" id="Documental">
				{% for doc in doc_list %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">{{doc}}</span>

									<span class="date">
										{% for cat in doc.categoria.all|slice:"3" %}
											<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
										{% endfor%}
									</span>											
									<span>
										<i class="material-icons" onclick="showmore({{doc.id}})">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail doc.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!--<span class="title genrecolor">Ficcion</span> -->
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{doc.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{doc.id}}">{{doc}}</p>
					</h4>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>


<section id="activeVideo" class="dark linear-bg hidden">
	<div class=" icon-row " style="position: relative; margin-bottom: 10px; z-index: 1; float: right;">
		<div class="col" style="padding-right: 0;">
			<span class=" close_selected">
				<a href="javascript:void(0)">
					<i class="material-icons" id="hideActiveV" onclick="hide_active()">close</i></a>
			</span>
		</div>

	</div>
	<div class="container section remove-bottom-padding">
		<div class="row comingSoon-slides">
			<div class="col-sm-12">		
				<div class="panel with-nav-tabs panel-default cpanel">
					
					<div class="panel-body">
						<div class="tab-content">

							<!--tab1-->
							<div class="tab-pane fade in active" id="tab1default">
								<div class="row single-slide">
									<div class="bg linear-bg" style="background-color: #0f1010;"></div>
									<div class="col-sm-5 col-xs-12 slide-content">
										<span class="title">Serie - Ficción</span>
										<h3 class="no-underline">Loma Verde</h3>

										<div class="date">
											<i class="material-icons">date_range</i> 30 Diciembre, 2018 
											<i class="material-icons" style="margin-left: 5px;">
												av_timer
											</i>32 min


										</div>
										<p>La telenovela Loma Verde nos cuenta una historia que puede ser la misma que ocurre en cualquier comunidad de Centroamérica, a través de distintos personajes aborda temas relacionados con la violencia, el VIH, la cultura machista, las creencias religiosas, entre otros, que son presentados de forma amena y dinámica.</p>
										<!-- <p><a href="#" class="arrow-button">Leer mas</a></p> -->
										<span class="details">Productora: Fundación Luciérnaga 
										</span>
										<i class="">
											|
										</i>
										<span class="details">Pais: Nicaragua
										</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="https://www.youtube.com/watch?v=0SCvNj9tayk" data-vbtype="video" class="venobox video">
											<i class="material-icons">play_arrow</i>
											<img src="images/loma.jpg" alt="" />
										</a>
									</div>

								</div>

							</div>

							<!--tab de episodios-->
							<div class="tab-pane fade" id="tab2default">

								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>
									<div class="col-sm-12 col-xs-12 slide-content">
										<!-- dropdown inline de temporada y cap -->
										<div>
											<div class="d-inline-block">
												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Temporada
														<i class="material-icons">arrow_drop_down</i>
													</a>

													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														<a class="dropdown-item active" href="#">1</a>
														<a class="dropdown-item" href="#">2</a>
														<a class="dropdown-item" href="#">3</a>
													</div>
												</div>
											</div>

											<div class="d-inline-block">

												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Episodio <i class="material-icons">arrow_drop_down</i>
													</a>

													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														<a class="dropdown-item active" href="#">1</a>
														<a class="dropdown-item" href="#">2</a>
														<a class="dropdown-item" href="#">3</a>
													</div>
												</div>
											</div>
										</div>

										<div class="slick-carousel" id="comingSoon">
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Deepwater horizon</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											<div data-dynamicclass="slideTwo">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Too fast</h5>
												<span class="release-date">15 April, 2017</span>
											</div>
											<div data-dynamicclass="slideThree">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">The Hangover: Part III</h5>
												<span class="release-date">30 September, 2017</span>
											</div>
											<div data-dynamicclass="slideFour">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Transformers: Age of Extinction</h5>
												<span class="release-date">15 April, 2018</span>
											</div>
											<div data-dynamicclass="slideFive">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">End of an empire</h5>
												<span class="release-date">19 October, 2018</span>
											</div>
											<div data-dynamicclass="slideSix">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Hanibal Rising</h5>
												<span class="release-date">21 November, 2018</span>
											</div>
											<div data-dynamicclass="slideSeven">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Locked out</h5>
												<span class="release-date">01 December, 2018</span>
											</div>
										</div>



									</div>
									<!-- Capitulos -->

								</div>

							</div>

							<!--tab de similares-->
							<div class="tab-pane fade" id="tab3default">
								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>

									<div class="col-sm-12 col-xs-12 slide content">
										<div class="slick-carousel" id="similar_video">
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Deepwater horizon</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											<div data-dynamicclass="slideTwo">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Too fast</h5>
												<span class="release-date">15 April, 2017</span>
											</div>
											<div data-dynamicclass="slideThree">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">The Hangover: Part III</h5>
												<span class="release-date">30 September, 2017</span>
											</div>
											<div data-dynamicclass="slideFour">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Transformers: Age of Extinction</h5>
												<span class="release-date">15 April, 2018</span>
											</div>
											<div data-dynamicclass="slideFive">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">End of an empire</h5>
												<span class="release-date">19 October, 2018</span>
											</div>
											<div data-dynamicclass="slideSix">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Hanibal Rising</h5>
												<span class="release-date">21 November, 2018</span>
											</div>
											<div data-dynamicclass="slideSeven">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Locked out</h5>
												<span class="release-date">01 December, 2018</span>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-heading no_bottom_border">
						<ul class="nav nav-tabs nav-posit" style="background-color: #000000ab;">
							<li class="active"><a href="#tab1default" data-toggle="tab">Desripcion</a></li>
							<li><a href="#tab2default" data-toggle="tab">Episodios</a></li>
							<li><a href="#tab3default" data-toggle="tab">Similares</a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>


{% endblock content %}
