{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<!-- Hero -->
<div id="hero" class="carousel slide carousel-fade" data-ride="carousel">
	
	<div class="container">	
		<ol class="carousel-indicators">
			<li data-target="#hero" data-slide-to="0" class="active"></li>
			<li data-target="#hero" data-slide-to="1"></li>
			<li data-target="#hero" data-slide-to="2"></li>
		</ol>
	</div>
	
	<div class="carousel-inner">

		{% for banner in bann_vid %}
			
		<div class="item {% if forloop.first %} active {% endif %}" style="background-image: url(static/img/index-banner.jpg)">
			<div class="container">
				<div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
					<div class="col-md-9 main-items">
						
						<h3 class="no-underline white-color bann_name">{{banner}}</h3>
						<div class="buttons top_padd_20">
							
							<a class="venobox btn btn-ghost">
								{% for cat in banner.categoria.all|slice:"1" %}
									<span>{{cat}}</span>								
								{% endfor %}
							</a>

							<a href="{% if banner.tipo == 1 %} {{banner.url}} {% else %} {% endif %} " data-vbtype="video" class="venobox btn btn-default">
								<i class="material-icons">play_arrow</i>
								<span>Reproducir</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		{% endfor %}

	</div>
</div>

<!-- 	Breaking news	-->
<div class="bg-bnews" style="margin-top: 20px; background-color: #2b2b2b; border-radius: 15px;">
	<div class="row bnews-padding">
		<div>
			<span class="badge badge-danger bnews-title">Última hora:</span>
			<div class="bnews-slider nobottommargin">
				<div class="slide flex-active-slide" style="width: 970px; margin-right: 0px; float: left; display: block;">

					<marquee scrollamount='7'>
						{% for news in highlight_news %}
						<div class="d-inline-block rigt_mar_200 white-color">
							<a class="white-color">{{news.pais}}: {{news.titulo}}</a>
						</div>
						{% endfor %}					
					</marquee>
				</div>
			</div>

			
		</div>
		
	</div>
</div>

<!-- 	Nuevo en	-->
<div class="container section">
	<div class="row">
		<div class="col-sm-12" id="afterHeader">
			<h2>Nuevo en Luciernaga</h2>

			<div class="slick-carousel" id="newIn">
				{% for video in latest_video %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date"><strong>{{video.nombre}}</strong> </span>
									<span class="date">
										{% for cat in video.categoria.all|slice:"3" %}
										<i class="material-icons" style="
										font-size: 8px;
										">
											fiber_manual_record
										</i>{{cat}}
										{% endfor %}										
									</span>					
									<span>
										<i class="material-icons expand-more" onclick="showmore({{cat.id}},0)">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail video.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<h4 class="no-underline white-color">
						<p>{{video.nombre}}</p>
					</h4> 
				</div>
					
				{% endfor %}
			</div>
		</div>
	</div>
</div>


<!--  Series	-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Series</h2>
			<div class="slick-carousel" id="Series">
				{% for serie in series_list %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date"><strong>{{serie.nombre}}</strong> </span>
									<span class="date">
										{% for cat in serie.categoria.all|slice:"3" %}
										<i class="material-icons" style="
										font-size: 8px;
										">
											fiber_manual_record
										</i>{{cat}}
										{% endfor %}										
									</span>					
									<p id="expand-action" onclick="showmore({{serie.id}},1)">
										<i class="material-icons expand-more">
											expand_more
										</i>
									</p>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail serie.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>

					<span class="title genrecolor"></span>
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{serie.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{serie.id}}">{{serie}}</p>
					</h4> 
				</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>

<section id="activeSerieVideo" class="dark linear-bg hidden">
	<div class=" icon-row " style="position: relative; margin: 10px; z-index: 1; float: right;">
		<div class="col" style="padding-right: 0;">
			<span class=" close_selected">
				<a href="javascript:void(0)">
					<i class="material-icons" onclick="hide_active({{det_vid.id}},{{x.id}})">close</i>
				</a>
			</span>
		</div>

	</div>
	<div class="container section remove-bottom-padding">
		<div class="row comingSoon-slides">
			<div class="col-sm-12">		
				<div class="panel with-nav-tabs panel-default cpanel">
					
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade" id="tab1default_{{det_vid.id}}_{{x.id}}">
								<div class="row single-slide">
									<div class="bg linear-bg" style="background-color: #0f1010;"></div>
									<div class="col-sm-5 col-xs-12 slide-content">
										<span class="title"> {% for cat in det_vid.categoria.all %}
											{{cat}}
											{% if not forloop.last %}-
											{% endif %}

										{% endfor %}
										</span>
										<h3 class="no-underline">{{det_vid}}</h3>

										<div class="date">
											<i class="material-icons">date_range</i> {{det_vid.fecha|date:"d F"}}, {{det_vid.fecha|date:"Y"}}
											<i class="material-icons" style="margin-left: 5px;">
												av_timer
											</i>{{det_vid.duracion}}

										</div>
										<p>{{det_vid.sinopsis}}</p>
										
										<span class="details">Productora: {{det_vid.produccion}} 
										</span>
										<i class="">
											|
										</i>
										<span class="details">Pais: {{det_vid.pais}}
										</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="https://www.youtube.com/watch?v=0SCvNj9tayk" data-vbtype="video" class="venobox video">
											<i class="material-icons">play_arrow</i>
											{% thumbnail det_vid.imagen "539x307" crop="center" as im%}
											<img src="{{im.url}}" alt="" />
											{% endthumbnail %}
										</a>
									</div>

								</div>

							</div>


							<div class="tab-pane fade" id="tab3default_{{det_vid.id}}_{{x.id}}">
								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>

									<div class="col-sm-12 col-xs-12 slide content">
										<div class="slick-carousel" id="similar_video">
											{% for sim_vid in y %}
											{% if sim_vid.id != video.id%}
										
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline"> {{sim_vid}}</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											{% endif %}
											{% endfor %}
											
											
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-heading no_bottom_border">
						<ul class="nav nav-tabs nav-posit" style="background-color: #000000ab;">
							<li id="activelitab_{{det_vid.id}}_{{x.id}}"><a href="#tab1default_{{det_vid.id}}_{{x.id}}" data-toggle="tab">Desripcion</a></li>
							
							<li><a href="#tab3default_{{det_vid.id}}_{{x.id}}" data-toggle="tab">Similares</a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>


<!-- peliculas -->
<div class="container section ">
	<div class="row">
		<div class="col-sm-12">
			<h2>Peliculas</h2>
			<div class="slick-carousel" id="Movies">
				{% for peli in peli_list %}
				
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">{{peli.nombre}}</span>
									<span class="date">
										{% for cat in peli.categoria.all|slice:"3" %}
											<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
										{% endfor%}
									</span>

									<span>
										<i class="material-icons" onclick="showmore({{peli.id}},2)">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail peli.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!-- <span class="title genrecolor"></span>-->
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{peli.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{peli.id}}">{{peli}}</p>
					</h4> 
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>

<!-- Documentales-->
<div class="container section">
	<div class="row">
		<div class="col-sm-12">
			<h2>Documentales</h2>
			<div class="slick-carousel" id="Documental">
				{% for doc in doc_list %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">{{doc}}</span>

									<span class="date">
										{% for cat in doc.categoria.all|slice:"3" %}
											<i class="material-icons" style="font-size: 8px;">fiber_manual_record</i>{{cat}}
										{% endfor%}
									</span>											
									<span>
										<i class="material-icons" onclick="showmore({{doc.id}},3)">
											expand_more
										</i>
									</span>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail doc.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!--<span class="title genrecolor">Ficcion</span> -->
					<h4 class="no-underline white-color">
						<a id="expand-icon_{{doc.id}}" href="" class="hidden">
							<i class="material-icons" style="font-size: 32px;">
								expand_more
							</i>
						</a>
						<p id="video_name_{{doc.id}}">{{doc}}</p>
					</h4>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>



{% endblock content %}

{% block extra_js %}
<script>

</script>

	
{% endblock extra_js %}
