{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div id="content_hero" style="background-image: url(/static/img/movie-main_banner.jpg)">

	<!-- <img src="images/scroll-arrow.svg" alt="Scroll down" class="scroll" /> -->

	<!-- Content -->
	<div class="container">
		<div class="row blurb scrollme animateme " data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
			<div class="col-md-9">
				<span class="title"></span>
				<h1>Peliculas</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Inicio</a></li>
					<li class="breadcrumb-item active white-color" aria-current="page">Peliculas</li>
				</ol>

			</div>
		</div>
	</div>

</div>

{% for x,y in movies_by_cat.items %}

<div class="container section {% if not forloop.last %}rm_padd_bottom{% endif %}">
	<div class="row">
		<div class="col-sm-12" id="afterHeader">
			<h2>{{x}}</h2>
			
			<div class="slick-carousel" id="cat-{{x.id}}">
				{% for video in  y %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">
										{% for cat in video.categoria.all|slice:"3" %}
										{{cat}} 
										{% if not forloop.last %},{% endif %}
										{% endfor%}									
									</span>

									<span class="date"><strong>{{video}} </strong> </span>											
									<p id="expand-action" onclick="showmore({{video.id}},{{x.id}})">
										<i class="material-icons expand-more">
											expand_more
										</i>
									</p>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail video.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!--<span class="title genrecolor">Ficcion</span> -->
					<h4 id="video_name_{{video.id}}_{{x.id}}" class="no-underline white-color hg_video">
					{{video|striptags|truncatechars:29}}
					</h4> 
					<a id="expand-icon_{{video.id}}_{{x.id}}" href="" class="hidden">
						<i class="material-icons" style="font-size: 32px;">
							expand_more
						</i>
					</a>

				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
</div>

{% for det_vid in  y %}

<section id="activeVideo_{{det_vid.id}}_{{x.id}}" class="dark linear-bg hidden">
	<div class=" icon-row " style="position: relative; margin-bottom: 10px; z-index: 1; float: right;">
		<div class="col" style="padding-right: 0;">
			<span class=" close_selected">
				<a href="javascript:void(0)">
					<i class="material-icons" onclick="hide_active({{det_vid.id}},{{x.id}})">close</i>
				</a>
			</span>
		</div>

	</div>
	<div class="container section remove-bottom-padding">
		<div class="row comingSoon-slides">
			<div class="col-sm-12">		
				<div class="panel with-nav-tabs panel-default cpanel">
					
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade" id="tab1default_{{det_vid.id}}_{{x.id}}">
								<div class="row single-slide">
									<div class="bg linear-bg" style="background-color: #0f1010;"></div>
									<div class="col-sm-5 col-xs-12 slide-content">
										<span class="title"> {% for cat in det_vid.categoria.all %}
											{{cat}}
											{% if not forloop.last %}-
											{% endif %}

										{% endfor %}
										</span>
										<h3 class="no-underline">{{det_vid}}</h3>

										<div class="date">
											<i class="material-icons">date_range</i> 30 Diciembre, 2018 
											<i class="material-icons" style="margin-left: 5px;">
												av_timer
											</i>32 min

										</div>
										<p>{{det_vid.sinopsis}}</p>
										
										<span class="details">Productora: {{det_vid.produccion}} 
										</span>
										<i class="">
											|
										</i>
										<span class="details">Pais: {{det_vid.pais}}
										</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="https://www.youtube.com/watch?v=0SCvNj9tayk" data-vbtype="video" class="venobox video">
											<i class="material-icons">play_arrow</i>
											<img src="images/loma.jpg" alt="" />
										</a>
									</div>

								</div>

							</div>


							<div class="tab-pane fade" id="tab3default_{{det_vid.id}}_{{x.id}}">
								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>

									<div class="col-sm-12 col-xs-12 slide content">
										<div class="slick-carousel" id="similar_video">
											{% for sim_vid in y %}
											{% if sim_vid.id != video.id%}
										
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline"> {{sim_vid}}</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											{% endif %}
											{% endfor %}
											
											
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-heading no_bottom_border">
						<ul class="nav nav-tabs nav-posit" style="background-color: #000000ab;">
							<li id="activelitab_{{det_vid.id}}_{{x.id}}"><a href="#tab1default_{{det_vid.id}}_{{x.id}}" data-toggle="tab">Desripcion</a></li>
							
							<li><a href="#tab3default_{{det_vid.id}}_{{x.id}}" data-toggle="tab">Similares</a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>

{% endfor %}

{% endfor %}<!-- fin for loop videos por categoria -->




{% endblock content %}

{% block extra_js %}
<script>

jQuery(function ($) {

	$(window).on('load resize scroll', function(){ 
		{% for x,y in movies_by_cat.items %}
		$('#cat-{{x.id}}').not('.slick-initialized').slick({
			autoplay: false,
			autoplaySpeed: 3000,
			slidesToShow: 4,
			centerPadding: '60px',
			prevArrow: '<i class="material-icons left">keyboard_arrow_left</i>',
			nextArrow: '<i class="material-icons right">keyboard_arrow_right</i>',
			responsive: [
			    {
			      breakpoint: 768,
			      settings: {
			        slidesToShow: 2
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
			        slidesToShow: 1
			      }
			    }
			  ]
		});

		{% endfor %}
						
	});
});
</script>
{% endblock extra_js %}


