{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div id="content_hero" style="background-image: url(static/img/movie-main_banner.jpg)">

	<!-- <img src="images/scroll-arrow.svg" alt="Scroll down" class="scroll" /> -->

	<!-- Content -->
	<div class="container">
		<div class="row blurb scrollme animateme " data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
			<div class="col-md-9">
				<span class="title"></span>
				<h1>Peliculas</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Inicio</a></li>
					<li class="breadcrumb-item active white-color" aria-current="page">Peliculas</li>
				</ol>

			</div>
		</div>
	</div>

</div>

{% for x,y in movies_by_cat.items %}

<div class="container section {% if not forloop.last %}rm_padd_bottom{% endif %}">
	<div class="row">
		<div class="col-sm-12" id="afterHeader">
			<h2>{{x}}</h2>
			
			<div class="slick-carousel" id="cat-{{x.id}}">
				{% for video in  y %}
				<div class="movie-slide">
					<div class="movie-poster">
						<aside>
							<div>
								<a href="" class="venobox play">
									<i class="material-icons">play_arrow</i>
								</a>
								<div style="padding-top: 15px;">
									<span class="date">Ficcion</span>

									<span class="date"><strong>{{video}} </strong> </span>											
									<p id="expand-action" onclick="showmore({{video.id}})">
										<i class="material-icons expand-more">
											expand_more
										</i>
									</p>
								</div>
							</div>
						</aside>
						<a href="#">
							{% thumbnail video.imagen "270x337" crop="center" as im %}
							<img src="{{ im.url }}" alt="">
							{% empty %}
							<img src="http://via.placeholder.com/270x337" alt="">
							{% endthumbnail %}
						</a>
					</div>
					<!--<span class="title genrecolor">Ficcion</span> -->
					<h4 id="video_name_{{video.id}}" class="no-underline white-color hg_video">{{video|striptags|truncatechars:29}} </h4> 

				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
</div>

{% for video in  y %}

<section id="activeVideo_{{video.id}}" class="dark linear-bg hidden">
	<div class=" icon-row " style="position: relative; margin-bottom: 10px; z-index: 1; float: right;">
		<div class="col" style="padding-right: 0;">
			<span class=" close_selected">
				<a href="javascript:void(0)">
					<i class="material-icons" id="hideActiveV" onclick="hide_active()">close</i>
				</a>
			</span>
		</div>

	</div>
	<div class="container section remove-bottom-padding">
		<div class="row comingSoon-slides">
			<div class="col-sm-12">		
				<div class="panel with-nav-tabs panel-default cpanel">
					
					<div class="panel-body">
						<div class="tab-content">

							<!--tab1-->
							<div class="tab-pane fade in active" id="tab1default">
								<div class="row single-slide">
									<div class="bg linear-bg" style="background-color: #0f1010;"></div>
									<div class="col-sm-5 col-xs-12 slide-content">
										<span class="title">Serie - Ficción</span>
										<h3 class="no-underline">{{video}}</h3>

										<div class="date">
											<i class="material-icons">date_range</i> 30 Diciembre, 2018 
											<i class="material-icons" style="margin-left: 5px;">
												av_timer
											</i>32 min

										</div>
										<p>La telenovela Loma Verde nos cuenta una historia que puede ser la misma que ocurre en cualquier comunidad de Centroamérica, a través de distintos personajes aborda temas relacionados con la violencia, el VIH, la cultura machista, las creencias religiosas, entre otros, que son presentados de forma amena y dinámica.</p>
										<!-- <p><a href="#" class="arrow-button">Leer mas</a></p> -->
										<span class="details">Productora: Fundación Luciérnaga 
										</span>
										<i class="">
											|
										</i>
										<span class="details">Pais: Nicaragua
										</span>
									</div>
									<div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
										<a href="https://www.youtube.com/watch?v=0SCvNj9tayk" data-vbtype="video" class="venobox video">
											<i class="material-icons">play_arrow</i>
											<img src="images/loma.jpg" alt="" />
										</a>
									</div>

								</div>

							</div>

							<!--tab de episodios-->
							<div class="tab-pane fade" id="tab2default">

								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>
									<div class="col-sm-12 col-xs-12 slide-content">
										<!-- dropdown inline de temporada y cap -->
										<div>
											<div class="d-inline-block">
												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Temporada
														<i class="material-icons">arrow_drop_down</i>
													</a>

													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														<a class="dropdown-item active" href="#">1</a>
														<a class="dropdown-item" href="#">2</a>
														<a class="dropdown-item" href="#">3</a>
													</div>
												</div>
											</div>

											<div class="d-inline-block">

												<div class="dropdown show">
													<a class="btn btn-secondary dropdown-toggle light_hover" href="#" role="button" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Episodio <i class="material-icons">arrow_drop_down</i>
													</a>

													<div class="dropdown-menu" aria-labelledby="dropdownSeason">
														<a class="dropdown-item active" href="#">1</a>
														<a class="dropdown-item" href="#">2</a>
														<a class="dropdown-item" href="#">3</a>
													</div>
												</div>
											</div>
										</div>

										<div class="slick-carousel" id="comingSoon">
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Deepwater horizon</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											<div data-dynamicclass="slideTwo">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Too fast</h5>
												<span class="release-date">15 April, 2017</span>
											</div>
											<div data-dynamicclass="slideThree">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">The Hangover: Part III</h5>
												<span class="release-date">30 September, 2017</span>
											</div>
											<div data-dynamicclass="slideFour">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Transformers: Age of Extinction</h5>
												<span class="release-date">15 April, 2018</span>
											</div>
											<div data-dynamicclass="slideFive">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">End of an empire</h5>
												<span class="release-date">19 October, 2018</span>
											</div>
											<div data-dynamicclass="slideSix">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Hanibal Rising</h5>
												<span class="release-date">21 November, 2018</span>
											</div>
											<div data-dynamicclass="slideSeven">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Locked out</h5>
												<span class="release-date">01 December, 2018</span>
											</div>
										</div>



									</div>
									<!-- Capitulos -->

								</div>

							</div>

							<!--tab de similares-->
							<div class="tab-pane fade" id="tab3default">
								<div class="row">
									<div class="bg linear-bg" style="background: black;"></div>

									<div class="col-sm-12 col-xs-12 slide content">
										<div class="slick-carousel" id="similar_video">
											<div>
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Deepwater horizon</h5>
												<span class="release-date">07 September, 2017</span>
											</div>
											<div data-dynamicclass="slideTwo">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Too fast</h5>
												<span class="release-date">15 April, 2017</span>
											</div>
											<div data-dynamicclass="slideThree">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">The Hangover: Part III</h5>
												<span class="release-date">30 September, 2017</span>
											</div>
											<div data-dynamicclass="slideFour">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Transformers: Age of Extinction</h5>
												<span class="release-date">15 April, 2018</span>
											</div>
											<div data-dynamicclass="slideFive">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">End of an empire</h5>
												<span class="release-date">19 October, 2018</span>
											</div>
											<div data-dynamicclass="slideSix">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Hanibal Rising</h5>
												<span class="release-date">21 November, 2018</span>
											</div>
											<div data-dynamicclass="slideSeven">
												<a href="#">
													<img src="http://via.placeholder.com/265x340" alt="">
												</a>
												<h5 class="left no-underline">Locked out</h5>
												<span class="release-date">01 December, 2018</span>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-heading no_bottom_border">
						<ul class="nav nav-tabs nav-posit" style="background-color: #000000ab;">
							<li class="active"><a href="#tab1default" data-toggle="tab">Desripcion</a></li>
							<li><a href="#tab2default" data-toggle="tab">Episodios</a></li>
							<li><a href="#tab3default" data-toggle="tab">Similares</a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>

{% endfor %}


{% endfor %}<!-- fin for videos por categoria -->




{% endblock content %}

{% block extra_js %}
<script>
jQuery(function ($) {

	$(window).on('load resize scroll', function(){ 
		{% for x,y in movies_by_cat.items %}
		$('#cat-{{x.id}}').not('.slick-initialized').slick({
			autoplay: false,
			autoplaySpeed: 3000,
			slidesToShow: 4,
			centerPadding: '60px',
			prevArrow: '<i class="material-icons left">keyboard_arrow_left</i>',
			nextArrow: '<i class="material-icons right">keyboard_arrow_right</i>',
			responsive: [
			    {
			      breakpoint: 768,
			      settings: {
			        slidesToShow: 2
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
			        slidesToShow: 1
			      }
			    }
			  ]
		});

		{% endfor %}
		
		
		
	});
});
</script>
{% endblock extra_js %}


