.white-color{
	color: #FFF !important;
}

.genrecolor{
	color: #e76115 !important;
}

.top_padd_50{
	padding-top: 50px !important;
}

.top_padd_30{
	padding-top: 30px !important;
}

.top_padd_20{
	padding-top: 20px !important;
}
.rigt_mar_200{
	margin-right: 200px !important;
}

.bottom_padd_50{
	padding-bottom: 50px;
}

.bottom_padd_30{
	padding-bottom: 30px;
}


.rm_padd_bottom{
	padding-bottom: 0px !important;
}

.blackalpha{
	padding: 0 10px 0 10px;
	background-color: #3c3a3a69;
}

.no_bottom_border{
	border-bottom: 0px;
}

.breadcrumb {
	background-color: #100f0f00 !important;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}

.bnews-title {
	display: block;
	float: left;
	margin-top: 2px;
	padding-top: .3em;
	text-transform: uppercase;
}

.bnews-slider {
	float: left;
	width: 970px;
	margin-left: 20px;
	min-height: 0;
}

.bnews-padding{
	padding: 20px;
}

.fslider, .fslider .flexslider, .fslider .slider-wrap, .fslider .slide, .fslider .slide > a, .fslider .slide > img, .fslider .slide > a > img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.nobottommargin {
	margin-bottom: 0 !important;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.slider-wrap, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

.header-stick {
	margin-top: -80px !important;
}

.bg-bnews{
	background-image: linear-gradient(to right, #c77016,#FF9E11, #dbdc98);
}

.expand-more{
	font-size: 32px !important;
	padding-top: 30px;
	color: white;
}


#minfo .bottom-item{
	align-items: flex-end !important;
}

.dark div.tabs-style{
	z-index: 1;
	margin-bottom: 60px;
	color: #fff;
	border-bottom-color: #333;
}

.cpanel{
	margin-bottom: 0px;
}
/*tabs*/
.nav-posit{
	position: relative !important;
}

.panel.with-nav-tabs .panel-heading{
	padding: 0px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	color: #777;
	background-color: transparent;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #1b18188c;
	border-color: transparent;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
	background-color: #f5f5f5;
	border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
	color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
	background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #555;
}


/*dropdown items*/

.dropdown-item{
	display: block;
	text-align: center;
}


.d-inline-block{
	display: inline-block !important;
}

span.details {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #faa82f;
}

.linear-bg{
	background-image: linear-gradient(to bottom, rgb(90, 90, 90, 0.50) 0%, rgba(0, 0, 0) 100%) !important;
}

.main-items{
	position: fixed !important;
	padding-bottom: 25px;
}

.detail_chosen{
	border-width: 3px;
	border-style: solid;
	border-image: 
	linear-gradient(
		to bottom, 
		#e2520000,
		rgba(255,98,7,0.9),
		rgba(0, 0, 0, 0)
	) 1 100%;
	position: relative;
}

h3.bann_name{
	display: block;
	max-width: 600px;

}

.close_selected{
		display: block;
		width: 50px !important;
		height: 50px !important;
		text-align: center;
		border: solid 2px #d8d8d8;
		border-radius: 50%;
		float: right !important;
}

/* onda expansiva - en directo */

.ball{
	position: absolute;
	left: 50%;
	top: 50%;
}

.ball span{
	width: 0px;
	height: 0px;
	border-radius: 50%;
	display: block;
	transition: all 2s ease-in-out;
	transform:translate(-50%,-50%);
	position:absolute;
	background: #f40505;
	box-shadow:  0px 0px 98px 0px rgba(0,0,0,1);
	animation: expandBallAnimation 2s infinite linear;
}

@keyframes expandBallAnimation {
	0% {
		z-index:100;
		background:#CC2222;
	}
	80%{
		opacity:1;
	}
	100% {
		opacity:0;
		z-index:1;
		background: #101015;
		width: 50px;
		height: 50px;
	}
}

.ball span:nth-child(2){
	animation-delay: 1s;
}
.ball span:nth-child(3){
	animation-delay: 2s;
}
.ball span:nth-child(4){
	animation-delay: 3s;
}
.ball span:nth-child(5){
	animation-delay: 4s;
}
.ball span:nth-child(6){
	animation-delay: 5s;
}

/* Fin onda expansiva - en directo */

a:hover.light_hover{
	color: #e76115 !important;
}


/* similar videos*/


#similar_video {
		padding: 60px 0;
}

#similar_video:before {
		position: absolute;
		right: 0;
		bottom: 0;
		left: -250%;

		display: block;

		width: 500%;
		height: 100%;
		padding: 55px 0;

		content: '';

		background: #10101000;
}

#similar_video div {
		-webkit-transition: all 300ms ease-in-out;
			 -moz-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
}

#similar_video .slick-slide:hover {
		cursor: pointer;

		opacity: 1 !important;
}

#similar_video .slick-slide img {
		border-radius: 10px;
}

#similar_video .slick-slide h5 {
		font-size: 16px;

		overflow: hidden;

		width: 100%;
		margin-top: 20px;
		margin-bottom: 0;

		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
}

#similar_video .slick-slide .release-date {
		font-size: 14px;

		opacity: .5;
		color: #fff;
}

.similar_video-slides .slick-slider {
		background: #0000;
}

.vertical_align{
	vertical-align: middle;
}

.slick-slide .movie-poster:hover img {
	filter: grayscale(0%);
	 filter:brightness(0.3);
	background-color: rgba(0,0,0,1.5);
}

/* altos definidos */
.hg_video{
	max-height: 25px;
	overflow: hidden;
}


.banner_det_name{
	font-size: 30px !important;
	font-weight: 300;
	padding: 0;
	-webkit-animation: Heading .5s .5s forwards;
	-moz-animation: Heading .5s .5s forwards;
	-o-animation: Heading .5s .5s forwards;
	animation: Heading .5s .5s forwards;
	letter-spacing: 3px;
	opacity: 0;
	color: #fff;
	border: none;
}

.customcard{
	border-radius: 15px;
	border-bottom: gray;
}

aside.info{
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	transform: scale(.9);
	text-align: center;
	opacity: 0;
	align-items: flex-end;
}

.poster{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

/*.poster:before{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -100px;
	width: 0;
	height: 100%;
	content: '';
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	transform: skewX(30deg);
	opacity: .9;
}*/